name: Full Pipeline

on:
  [workflow_dispatch]  # manual trigger

jobs:
  mlops-pipeline:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:24-dind
        options: --privileged
        ports:
          - 5000:5000
          - 9000:9000
          - 9001:9001

    env:
      MLFLOW_TRACKING_URI: http://mlflow-server:5000
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      RUNNING_IN_DOCKER: "1"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: hoang12b48
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker images
      run: docker compose -f docker-compose-full.yaml build

    - name: Start MLflow + dependencies
      run: |
        docker compose -f docker-compose-full.yaml -f docker-compose-ci.yaml up -d mlflow-db minio create-bucket mlflow-server


    - name: Wait for MLflow server to be ready
      run: |
        echo "Waiting for MLflow server..."
        for i in {1..30}; do
          if docker compose exec -T mlflow-server curl -s http://localhost:5000/api/2.0/mlflow/experiments/list; then
            echo "MLflow server is ready"
            break
          fi
          echo "Waiting..."
          sleep 5
        done

    - name: Train model inside Docker
      run: |
        docker compose run --rm web python scripts/session_4/training.py

    - name: Build FastAPI image
      run: docker compose -f docker-compose-full.yaml build web

    - name: Tag Docker image
      run: docker tag full_iris:latest hoang12b48/full_iris:latest

    - name: Push Docker image to Docker Hub
      run: docker push hoang12b48/full_iris:latest

    - name: Shutdown Docker Compose services
      run: docker compose -f docker-compose-full.yaml down

    - name: Summary
      run: echo "Pipeline finished :Training → Build → Push completed."
